*{ 
    margin:0;
    padding:0;
}


body{
    background-color: #830606;
    color: black;
}

.cabecalho{ 
    background-color: #A90101;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.cabecalho-imagem{width: 10%;
}

.lista-item{
    font-size: 24px;
    display: inline-block;
    margin: 0 16px ;
    padding: 10px;


}
.secao1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
   font-size: 12px ;
}

.secao1-div{
    width: 20px;
    height: 80px;
}
