*{ 
    margin:0;
    padding:0;
}


body{
    background-color: #830606;
    color: black;
}

.cabecalho{ 
    background-color: #A90101;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.cabecalho-imagem{width: 15%;}

.lista-item{
    font-size: 24px;
    display: inline-block;
    margin: 0 18px;



}
